
<h2> Employee Details</h2>
<h2></h2>
<div class="row justify-content-center">
<ul class="list-group w-50">
        <li class="list-group-item active text-center">{{ person.firstName }} Details</li>
    <li class="list-group-item">ID: {{ person.userID }}</li>
    <li class="list-group-item">Designtion: {{ person.jobName }}</li>
    <li class="list-group-item">Last Name: {{ person.lastName }}</li>
    <li class="list-group-item">Code: {{ person.employeeCode }}</li>
    <li class="list-group-item">Phone: {{ person.phoneNumber }}</li>
    <li class="list-group-item">Email: {{ person.emailAddress }}</li>
</ul>
</div>